.table {
  margin-top: 30px;
  table-layout: fixed;
  width: 1000px;
  border-collapse: collapse;
  border: 3px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.title .row {
  background-color: #000;
}

.col {
  color: #fafafa;
  padding: 8px;
}

.transactionData .row:nth-child(2n + 1) {
  background-color: #a9a9a9;
}

.transactionData .row:nth-child(2n) {
  background-color: #cccccc;
}

.type,
.currency,
.amount {
  text-align: center;
  padding: 8px;
  border: 3px solid #000;
}

.type {
  text-transform: uppercase;
}
